<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Butterfly Species Classification</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .hero {
            background: black url(static/images/butterfly.jfif) center / cover;
        }
        
        .pixelated {
            image-rendering: pixelated;
            -ms-interpolation-mode: nearest-neighbor;
        }
    </style>

</head>


<body>
    <section class="hero is-fullheight" has-background-black>

        <section class="section">
            <div class="container">
                <h1 class="title">
                    Butterfly Species Classifier
                </h1>
                <p class="subsubtitle">
                    by <strong>Gurjeet Singh</strong>
                </p>
            </div>
        </section>


        <section class="section">
            <div class="container has-text-centered bg-text" style="width: 100%">
                <div>
                    <i class="arrow_down"></i>
                    <form action="/classify" method="post" enctype="multipart/form-data" style="margin-top: 30px; width: 80%; text-align: center; margin: auto;">
                        <div class="file has-name is-centered">
                            <label class="file-label">
                                <input class="file-input" type="file" id="image" name="image">
                                <span class="file-cta">
                                    <span class="file-label">
                                        Upload an image
                                    </span>
                                </span>
                                <span class="file-name" id="file-name">
                                    No file chosen
                                </span>

                            </label>
                        </div>
                        <br>
                        <input type="submit" value="Classify" class="button is-black" name="image" id="classify_button">
                    </form>

                </div>

            </div>
            </div>
            </div>
        </section>

    </section>


    <script src="/static/script.js"></script>
</body>

</html>